* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f9fc;
}

.table {
    border-collapse: collapse;
    width: 900px;
}
.table-header tr td {
    background-color: rgba(244, 247, 252, 0.5);
    text-align: left;
    font-size: 11px;
    font-weight: semibold;
    color: #464f60;
}

.table th {
    background-color: rgba(244, 247, 252, 0.5);
    text-align: left;
    position: sticky;
    top: 0; /* Adjusted to 0 to stick at the top */
    border-bottom: 1px solid #eff1f8;
    font-size: 11px;
    font-weight: semibold;
    color: #464f60;
}

.table thead {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

.table td {
    background-color: white;
    font-size: 14px;
}

.table td,
.table th {
    padding: 13px;
}

.table-container {
    margin-top: 15px;
    border: 1px solid #d9dde2;
    border-radius: 7px;
}

.scrollable-table {
    height: 624px;
    overflow-y: auto;
    scrollbar-width: none; /* hide scrollbar for Firefox */
    -ms-overflow-style: none; /* hide scrollbar for IE/Edge */
}

.header {
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 12px 20px;

    background-color: #f4f7fcbf;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.table-body :nth-child(even) td {
    background-color: #f9fafc;
}

.table-body tr:hover td {
    background-color: #f2f5fa;
}

.table-footer {
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 12px 20px;
    background-color: #f4f7fcbf;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: 1px solid #e9edf5;
    font-size: 12px;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.filterAndSearch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-svg {
    margin-top: 4px;
}

.search-svg {
    position: absolute;
    top: 24%;
    left: 10px;
}

.search {
    width: 320px;
    border-radius: 6px;
    border: 1.5px solid #68718229;
    padding: 6px 12px;
    box-shadow: 0px 0px 0px 1px rgba(104, 113, 130, 0.16);
    background: rgba(255, 255, 255, 1);

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    padding-left: 30px;
    outline: none;
}

.input-div {
    position: relative;
    color: #959caa;
}

.add-button {
    background: rgba(34, 100, 229, 1);
    color: white;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.previous {
    padding: 2px 7px;
    border-radius: 6px;
    border: 1px solid #c9cdd7;
    padding-bottom: 3px;
    background-color: white;
    color: #464f60;
}

.next {
    padding: 2px 7px;
    border-radius: 6px;
    border: 1px solid #c9cdd7;
    transform: rotate(180deg);
    padding-bottom: 3px;
    background-color: white;
    color: #464f60;
}

.pagination-div {
    display: flex;
    gap: 15px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rows-per-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.rows-per-page-select {
    border: none;
    border-radius: 4px;
    padding: 2px;
    background-color: inherit;
    font-size: 12px;
    outline: none;
}

.bg-white {
    background-color: white;
}

.faded-bg {
    background-color: #f4f7fcbf;
}

.status {
    border-radius: 10px;
    padding: 4px 10px;
    width: 52px;
    height: 20px;
    text-transform: capitalize;
    font-weight: 500;
}

.open {
    color: #4f5aed;
    background-color: #f0f1fa;
}

.paid {
    color: #147f4a;
    background-color: #e1fcef;
}

.due {
    color: #d12953;
    background-color: #faf0f2;
}

.inactive {
    color: #5a6376;
    background-color: #e9edf5;
}

.rate-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: rgba(70, 79, 96, 1);
}

.currency {
    font-size: 12px;
    color: rgba(104, 113, 130, 1);
}

.negative-balance {
    color: rgba(20, 128, 74, 1);
}

.positive-balance {
    color: rgba(209, 41, 83, 1);
}

.name-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.p-no {
    color: rgba(104, 113, 130, 1);
    font-size: 12px;
    letter-spacing: 3%;
    line-height: 18px;
}

.highlighted-td {
    background-color: #ebf0fa;
    border-left: 2px solid #2264e5;
}

.name {
    font-weight: 500;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: rgb(247, 250, 255);
    height: 16px;
    width: 16px;
    border: 1px solid #b0b3b8;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px rgba(89, 96, 120, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:after {
    content: url("checkbox.svg");
    height: 22px;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: #e9edf3;
}

input[type="checkbox"]:checked {
    background-color: #97baff;
}

input[type="checkbox"]:checked:after {
    display: block;
}

.delete-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.selected-span {
    font-weight: 500;
    color: rgba(70, 79, 96, 1);
    font-size: 12px;
}

.delete-icon {
    border: 1px solid #d6d9de;
    padding: 8px 12px;
    background-color: white;
    border-radius: 6px;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.2s ease-in-out;
}

.header-item-container {
    display: flex;
    align-items: center;
    gap: 3px;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.2s ease-in-out;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.input-style {
    padding: 6px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    width: 100%;
    outline: none;
}

.input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.label-input-container {
    display: flex;
    width: 100%;
}

.label-input-container label {
    width: 140px;
}

@media (max-width: 1000px) {
    .table-container {
        max-width: 90vw;
    }

    .table-footer {
        max-width: 90vw;
    }

    .scrollable-table {
        overflow-x: auto;
    }
}
